In [1]:
from faker import Faker
import pandas as pd
import numpy as np
from datetime import datetime
import random
fk=Faker()

#for actives data
advertising_id=[]
city =[]
location_category = []
location_granularities = []
location_source= []
state =[]
timestamp = []
user_id = []
user_latitude = []
user_longitude = []
date = []

for i in range(100):
    advertising_id.append(str(fk.unique.random_int()))
    city.append(fk.city())
    location_category.append(str(fk.local_latlng()[3]))
    location_granularities.append(str(fk.local_latlng()[4]))
    location_source.append(str(fk.local_latlng()[2:])[1:-1])
    state.append(fk.state())
    timestamp.append(str(fk.time()))
    user_id.append(fk.bothify('???-???-####'))
    user_latitude.append(float(fk.latitude()))
    user_longitude.append(float(fk.longitude()))
    date.append(datetime.strptime(fk.date(),'%Y-%m-%d'))

    
Actives=pd.DataFrame(zip(advertising_id,city,location_category,location_granularities,location_source,state,timestamp,user_id,user_latitude,user_longitude,date),columns=['advertising_id','city','location_category','location_granularities','location_source','state','timestamp','user_id','user_latitude','user_longitude','date'])

Actives['month']=Actives['date'].dt.strftime('%B')


#for viewsership data
advertising_id2=[]
channel_genre=[]
channel_name=[]
city2=[]
device=[]
device_type=[]
duration=[]
grid_id=[]
language=[]
location_category2=[]
location_granularities2=[]
location_source2=[]
record_timestamp2=[]
show_genre=[]
show_name=[]
state2=[]
user_lat=[]
user_long=[]
month=[]
date2=[]

for i in range(99):
    advertising_id2.append(str(random.choice(advertising_id))) #Restricted to the already created ids
    channel_genre.append(random.choice(['News','Cartoon','Movies','Music','Reality']))
    channel_name.append(fk.safe_color_name())
    city2.append(random.choice(city))
    device.append(fk.ssn())
    device_type.append(random.choice(['mobile','TV','others']))
    duration.append(random.randint(1,400))
    grid_id.append(fk.bothify('?#-##'))
    language.append(random.choice(['Brazilian Portuguese','Canadian French','English','French Creole','Quechua','Spanish']))
    location_category2.append(random.choice(location_category))
    location_granularities2.append(random.choice(location_granularities))
    location_source2.append(random.choice(location_source))
    record_timestamp2.append(random.choice(timestamp))
    show_genre.append(random.choice(['Action','Adventure','Horror','Comedy','Romance']))
    show_name.append(fk.job())
    state2.append(random.choice(state))
    user_lat.append(random.choice(user_latitude))
    user_long.append(random.choice(user_longitude))
    date2.append(random.choice(date))
    
    
Viewvership=pd.DataFrame(zip(advertising_id2,channel_genre,channel_name,city2,device,device_type,duration,grid_id,language,location_category2,location_granularities2,location_source2,record_timestamp2,show_genre,show_name,state2,user_lat,user_longitude,date2),columns=['advertising_id','channel_genre','channel_name','city','device','device_type','duration','grid_id','language','location_category','location_granularities','location_source','record_timestamp','show_genre','show_name','state','user_lat','user_long','date'])    
Viewvership['month']=Viewvership['date'].dt.strftime('%B')

Actives.head(3)
# Viewvership.info()
# Actives.info()

,advertising_id,city,location_category,location_granularities,location_source,state,timestamp,user_id,user_latitude,user_longitude,date,month
0,8670,West John,US,America/New_York,"'Dublin', 'US', 'America/New_York'",Pennsylvania,00:57:54,IEX-BWl-8637,16.273580,-43.146233,1996-12-21,December
1,813,East Laura,US,America/Los_Angeles,"'San Gabriel', 'US', 'America/Los_Angeles'",South Dakota,21:58:08,olO-bTO-9720,-22.700247,41.223714,1974-05-01,May
2,9324,Lawsonshire,US,America/Chicago,"'Abilene', 'US', 'America/Chicago'",Nevada,07:21:10,Jxx-prV-0059,-79.531711,62.777452,1993-07-22,July

In [2]:
# !pip install pyarrow

import pyarrow as pa
import pyarrow.parquet as pq

Actives.to_parquet('Actives.parquet.snappy',compression='snappy')
Viewvership.to_parquet('Viewership.parquet.snappy',compression='snappy')

pd.read_parquet('Viewership.parquet.snappy')

,advertising_id,channel_genre,channel_name,city,device,device_type,duration,grid_id,language,location_category,location_granularities,location_source,record_timestamp,show_genre,show_name,state,user_lat,user_long,date,month
0,6705,Movies,green,West Williamshire,765-17-6614,others,229,s1-34,French Creole,US,America/Phoenix,"'Brunswick', 'US', 'America/New_York'",13:13:32,Comedy,"Engineer, aeronautical",North Carolina,25.323551,-43.146233,1972-01-28,January
1,2064,Reality,gray,Lake Coreyview,136-06-9614,others,144,z3-48,Spanish,US,America/New_York,"'Rosedale', 'US', 'America/New_York'",06:17:14,Comedy,"Designer, interior/spatial",Vermont,-83.928832,41.223714,1979-02-01,February
2,9221,Movies,yellow,East Charles,359-94-6421,mobile,168,D3-69,French Creole,US,America/Los_Angeles,"'West Des Moines', 'US', 'America/Chicago'",23:03:17,Romance,Television floor manager,Wisconsin,-49.643687,62.777452,1990-08-17,August
3,9207,Reality,lime,Lake Shawn,557-20-9652,others,50,u1-77,Quechua,US,America/New_York,"'Claremont', 'US', 'America/Los_Angeles'",16:24:18,Romance,Ergonomist,Georgia,49.947184,-72.828754,1989-06-21,June
4,9207,Reality,purple,Port Taylorstad,676-58-2667,mobile,323,N9-65,Canadian French,US,America/New_York,"'Shreveport', 'US', 'America/Chicago'",06:17:14,Adventure,"Research officer, government",Connecticut,-26.540218,-90.618339,1979-02-01,February
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,4022,Reality,black,New Amandafurt,765-84-4023,TV,62,s1-01,French Creole,US,America/Boise,"'Bridgeport', 'US', 'America/New_York'",18:53:32,Horror,Data scientist,Oklahoma,-68.876942,82.836925,2011-01-02,January
95,2389,News,blue,Jamesview,012-91-2348,TV,174,q5-75,English,US,America/Los_Angeles,"'Opportunity', 'US', 'America/Los_Angeles'",13:00:13,Romance,"Designer, furniture",Oklahoma,78.244704,-175.876390,2008-01-20,January
96,4022,Music,silver,North Joseph,032-07-7695,mobile,149,N2-15,Quechua,US,America/Boise,"'Pahrump', 'US', 'America/Los_Angeles'",07:05:33,Comedy,"Surveyor, land/geomatics",Connecticut,-7.210189,58.872162,2009-01-14,January
97,1860,Movies,fuchsia,Port Max,378-24-9771,TV,339,x9-09,Spanish,US,America/New_York,"'Stockbridge', 'US', 'America/New_York'",20:13:56,Action,"Clinical scientist, histocompatibility and imm...",Idaho,-26.540218,116.647604,1996-05-18,May
98,1480,News,gray,Liton,387-96-6040,others,21,n5-22,Spanish,US,America/Los_Angeles,"'Venice', 'US', 'America/New_York'",05:03:02,Action,Public house manager,Iowa,60.483257,59.997540,1987-03-19,March